<div class="row">
  <div class="col-lg-4 ">
    <img src="assets/picture/picwish.png" style="height: 80px; width: 200px">
    <nav class="navbar navbar-expand-lg">
      <div class="navbar-nav ml-auto action-buttons">
      </div>
    </nav>
  </div>
  <div class="col-lg-4 text-center">

  </div>
  <div class="col-lg-4 col-sm-12">
    <nav class="navbar navbar-expand-lg pt-4" style="margin:auto; float:right">
      <div class="navbar-nav action-buttons">
<!--        login-->
        <div class="nav-item dropdown mr-1">
          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle mr-1 btn btn-info ">
            <i class="fa fa-right-to-bracket"></i> Đăng Nhập</a>
          <div class="dropdown-menu action-form">
            <form action="/examples/actions/confirmation.php" method="post">
              <p class="hint-text">Đăng nhập bằng tài khoản của bạn</p>
              <div class="form-group social-btn clearfix">
                <a href="#" class="btn btn-secondary facebook-btn float-left"><i class="fa fa-facebook"></i> Facebook</a>
                <a href="#" class="btn btn-secondary twitter-btn float-right"><i class="fa fa-twitter"></i> Twitter</a>
              </div>
              <div class="or-seperator"><b>or</b></div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Tên đăng nhập" required="required">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Mật khẩu" required="required">
              </div>
              <input type="submit" class="btn btn-primary btn-block" value="Đăng nhập">
              <div class="text-center mt-2">
                <a href="#">Quên mật khẩu</a>
              </div>
            </form>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a href="#" data-toggle="dropdown" class="btn btn-info nav-link dropdown-toggle mr-4">Đăng ký</a>
          <div class="dropdown-menu action-form">
            <form action="/examples/actions/confirmation.php" method="post">
              <p class="hint-text">Điền vào biểu mẫu này để tạo tài khoản của bạn!</p>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Tên đăng nhập" required="required">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Mật khẩu" required="required">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" required="required">
              </div>
              <div class="form-group">
                <label class="form-check-label"><input type="checkbox" required="required"> Tôi đồng ý với <a href="#">Terms &amp; Conditions</a></label>
              </div>
              <input type="submit" class="btn btn-primary btn-block" value="Đăng ký">
            </form>
          </div>
        </div>
<!--        register-->
<!--        <div class="nav-item dropdown">-->
<!--          <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle sign-up-btn">Đăng Ký</a>-->

<!--        </div>-->
      </div>
    </nav>
  </div>
</div>
<div class="row">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-family: 'Segoe UI Black'">THOR-BEER</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ms-1">
            <a class="nav-link active" aria-current="page" href="#">Bia nóng</a>
          </li>
          <li class="nav-item ms-1">
            <a class="nav-link active" aria-current="page" href="#">Khuyến mãi</a>
          </li>

          <li class="nav-item dropdown ms-1">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Danh mục bia
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Bia nhập khẩu</a></li>
              <li><a class="dropdown-item" href="#">Bia trong nước</a></li>
            </ul>
          </li>
          <li class="nav-item ms-1" >
            <a class="nav-link active" aria-current="page" href="#" style="color: #666666">
              <i class="fa fa-cart-shopping"></i></a>
          </li>
          <!--          <li class="nav-item">-->
          <!--            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
          <!--          </li>-->
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Tìm tên bia..." aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Tìm</button>
        </form>
      </div>
    </div>
  </nav>
</div>

