<div class="row sticky-lg-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-danger" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a routerLink=""><img src="../../../../assets/picture/beer-thor-yellow1.png"
                            style="height: 80px; width: 200px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown ms-1 pt-2">
            <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
              DANH MỤC BIA
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="border-radius: 10px">
              <li>
                <h6 class="dropdown-item" href="#">BIA NHẬP KHẨU</h6>
              </li>
              <li><h6 class="dropdown-item" href="#">BIA TRONG NƯỚC</h6></li>
            </ul>
          </li>
          <li class="nav-item ms-1 pt-2">
            <a class="nav-link active" aria-current="page" href="#" style="color: white">BIA NÓNG</a>

          </li>
          <li class="nav-item ms-1 pt-2">
            <a class="nav-link active" aria-current="page" href="#" style="color: white">KHUYẾN MÃI</a>
          </li>
          <li class="nav-item ms-1 pt-2">
            <a class="nav-link active" aria-current="page" href="#" style="color: white">LIÊN HỆ</a>
          </li>
          <li class="nav-item ms-1 pt-2">
            <a class="nav-link active" aria-current="page"  style="color: white" >
            </a>
          </li>
          <li class="nav-item ms-1">
            <a class="nav-link active" aria-current="page" href="#" style="color: white"></a>
          </li>
          <li class="nav-item ms-1">
            <a class="nav-link active" aria-current="page" href="#" style="color: white"></a>
          </li>
          <!--          login-->
          <li class="nav-item ms-1 ">
            <nav class="navbar navbar-expand-lg" style="margin:auto;">
              <div class="navbar-nav action-buttons">
                <!--        login-->

                <div class="nav-item dropdown mr-1">
                  <a routerLink="/history"><span style="color: yellow">{{username}}</span></a>
                  <a *ngIf="username==''" class="btn btn-danger" style="color: white" data-toggle="dropdown">
                    <i class="fa fa-right-to-bracket"></i> Tài Khoản</a>
                  <div class="dropdown-menu action-form" style="border-radius: 10px">
                    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                      <p class="hint-text">Đăng nhập bằng tài khoản của bạn</p>
                      <div class="form-group social-btn clearfix">
                        <a href="#" class="btn btn-secondary facebook-btn float-left"><i
                          class="fa fa-facebook"></i> Facebook</a>
                        <a href="#" class="btn btn-secondary twitter-btn float-right"><i
                          class="fa fa-twitter"></i> Twitter</a>
                      </div>
                      <div class="or-seperator"><b>or</b></div>
                      <div class="form-group">
                        <label> <span class="text-danger"
                                      *ngIf="formGroup.controls.username.hasError('required')
                  && formGroup.controls.username.dirty">
            Vui lòng nhập tài khoản !</span></label>
                        <input type="text" class="form-control" placeholder="Tên đăng nhập"
                               required="required" formControlName="username">
                      </div>
                      <div class="form-group">
                        <label> <span class="text-danger"
                                      *ngIf="formGroup.controls.password.hasError('required')
                  && formGroup.controls.password.dirty">
            Vui lòng nhập mật khẩu !</span></label>
                        <input type="password" class="form-control" placeholder="Mật khẩu"
                               required="required" formControlName="password">
                      </div>
                      <input type="submit" class="btn btn-primary btn-block" value="Đăng nhập">
                      <div class="text-center mt-2">
                        <a href="#">Quên mật khẩu</a>
                      </div>
                    </form>
                  </div>
                  <span>||</span>
                  <a (click)="whenLogout()" *ngIf="username!=''" class="btn btn-danger"> Đăng xuất</a>
                </div>

                <div class="nav-item dropdown">
                  <a data-toggle="dropdown"
                     class="btn btn-light nav-link dropdown-toggle mr-4" style="color: white" *ngIf="username==''">Đăng
                    ký</a>
                  <div class="dropdown-menu action-form" style="border-radius: 10px">
                    <form>
                      <p class="hint-text">Điền vào biểu mẫu này để tạo tài khoản của bạn!</p>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tên đăng nhập"
                               required="required">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="Mật khẩu"
                               required="required">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control"
                               placeholder="Nhập lại mật khẩu"
                               required="required">
                      </div>
                      <div class="form-group">
                        <label class="form-check-label"><input type="checkbox"
                                                               required="required"> Tôi đồng ý
                          với <a href="#">Terms&Conditions</a></label>
                      </div>
                      <input type="submit" class="btn btn-primary btn-block" value="Đăng ký">
                    </form>
                  </div>
                </div>
                <!--                          logout-->
                <div class="nav-item">
                  <a href="#" data-toggle="dropdown"
                     class="btn btn-danger mr-4" style="color: white" routerLink="/cart">
                    <i class="fa fa-cart-shopping"></i> Giỏ Hàng ({{countP}})</a>
                </div>
              </div>
            </nav>
          </li>
        </ul>
        <!--        <form class="d-flex pb-2">-->
        <!--          <input class="form-control" type="search" placeholder="Tìm tên bia..." aria-label="Search">-->
        <!--          <button class="btn btn-danger" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>-->
        <!--        </form>-->
      </div>
    </div>
  </nav>
</div>

