<!--slide promotion-->
<div class="row">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="margin: auto">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="//theme.hstatic.net/200000119135/1000938964/14/ms_banner_img1.jpg?v=1284" class="d-block w-100"
             alt="...">
      </div>
      <div class="carousel-item">
        <img src="//theme.hstatic.net/200000119135/1000938964/14/ms_banner_img2.jpg?v=1284" class="d-block w-100"
             alt="...">
      </div>
      <div class="carousel-item">
        <img src="//theme.hstatic.net/200000119135/1000938964/14/ms_banner_img4.jpg?v=1284" class="d-block w-100"
             alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>



<div class="row" style="color: black; text-align: center; padding-top: 30px">
  <h2>ĐÓN FIFA WORLD CUP - SĂN BIA DEAL XỊN</h2>
  <h3 style="color: #a50318">_______________</h3>
</div>

<div class="row" style="">
  <div class="col-lg-6"></div>
  <div class="col-lg-6" style="padding-top: 20px;padding-bottom: 20px; margin: auto;">
    <div class="d-flex">
      <input class="form-control" type="search" placeholder="Tìm tên bia..." maxlength="50"
             aria-label="Search" style="width: 50%;margin-left: 40%" [(ngModel)]="beerNameSearch">
      <button class="btn btn-danger" type="submit" (click)="paginate()"><i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>
</div>

<!--Cart product-->
<div class="row body-cart">
  <div class="col-lg-3 col-sm-12" style="">
    <!--    Tim kiem theo truong-->
    <div class="dropdown-search-product" id="myCollapsible">
      <div>
        <button class="btn btn-danger mt-3" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseExample1"
                aria-expanded="false" aria-controls="collapseExample1">
          - KHOẢNG GIÁ -
        </button>

        <div class="collapse show" id="collapseExample1">
          <div class="card card-body">
            <!--                    content-->
            <div class="panel sidebar-sort">
              <ul class="filter">
                <li>
                  <label>
                    <input type="radio" name="price" [value]=0 [(ngModel)]="price" (change)="searchByPrice()">
                    <span> Tất cả</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="pricer" [value]=1 [(ngModel)]="price" (change)="searchByPrice()">
                    <span> Nhỏ hơn 200,000₫</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="price" [value]=2 [(ngModel)]="price" (change)="searchByPrice()">
                    <span> Từ 200,000₫ - 400,000₫</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="price" [value]=3 [(ngModel)]="price" (change)="searchByPrice()">
                    <span> Từ 400,000₫ - 600,000₫</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="price" [value]="4" [(ngModel)]="price" (change)="searchByPrice()">
                    <span> Từ 600,000₫ - 800,000₫</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="price" [value]=5 [(ngModel)]="price" (change)="searchByPrice()">
                    <span> Từ 800,000₫ - 1,000,000₫</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="price" [value]=6 [(ngModel)]="price" (change)="searchByPrice()">
                    <span> Lớn hơn 1,000,000₫</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-danger mt-3" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseExample2"
                aria-expanded="false" aria-controls="collapseExample2">
          - THƯƠNG HIỆU -
        </button>

        <div class="collapse show" id="collapseExample2">
          <div class="card card-body">
            <!--                    content-->
            <div class="panel sidebar-sort">
              <ul class="brand">
                <li>
                  <label>
                    <input type="radio" name="brand">
                    <span> Corona</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="brand">
                    <span> Hoegaarden</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="brand">
                    <span> Stella Artois</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="brand">
                    <span> Budweiser</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="brand">
                    <span> Leffe</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="brand">
                    <span> Beck's Ice</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-danger mt-3" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseExample3"
                aria-expanded="false" aria-controls="collapseExample3">
          - NỒNG ĐỘ CỒN -
        </button>

        <div class="collapse show" id="collapseExample3">
          <div class="card card-body">
            <!--                    content-->
            <div class="panel sidebar-sort">
              <ul class="alcohol">
                <li>
                  <label>
                    <input type="radio" name="alcohol" >
                    <span> < 3%</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="alcohol">
                    <span> 3% - 4%</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="alcohol" >
                    <span> 4% - 5%</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="alcohol" >
                    <span> > 5%</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--cart-product-beer-->
  </div>
  <div class="col-lg-9 ">
    <div class="wrapper">
      <div class="items">
        <!-- single item -->
        <h3 class="mb-5 mt-5" *ngIf="!action" style="font-family: Arial">Không tìm thấy sản phẩm này !!!</h3>
        <div *ngIf="action">
          <div class="item" *ngFor="let item of (beerListDto$ | async)">
            <img src="{{item.beerImage}}"
                 alt="item"/>
            <h5>{{item.beerName}}</h5>
            <div class="product-price clearfix">
              <span class="current-price">{{item.beerPriceNew}}₫</span><span
              class="original-price"><s>{{item.beerPriceOld}}₫</s></span>
            </div>

              <button class="add-to-cart" type="button" routerLink="/detail/{{item.beerId}}" (click)="addToCart(item)">
                <i class="fa fa-cart-shopping"></i> THÊM VÀO GIỎ</button>

          </div>
        </div>

        <!--/ single item -->
      </div>
      <!--/ items -->
    </div>
    <!--/ wrapper -->
  </div>
</div>
<div class="row">
  <div style="margin-left: 55% ; padding: 20px 20px">
    <button style="border-radius: 10px" class="btn btn-danger" *ngIf="pageSize < (total$ | async)" (click)="nextPage()">
      Xem thêm >>
    </button>

  </div>
</div>
