<div class="row">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="margin: auto">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="//theme.hstatic.net/200000119135/1000938964/14/ms_banner_img1.jpg?v=1284" class="d-block w-100"
             alt="...">
      </div>
      <div class="carousel-item">
        <img src="//theme.hstatic.net/200000119135/1000938964/14/ms_banner_img2.jpg?v=1284" class="d-block w-100"
             alt="...">
      </div>
      <div class="carousel-item">
        <img src="//theme.hstatic.net/200000119135/1000938964/14/ms_banner_img4.jpg?v=1284" class="d-block w-100"
             alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="row login-body">
  <div class="title">
    <h1>Đăng Nhập</h1>
  </div>
  <div class="form-login-size">
    <div class=" action-form" style="border-radius: 10px">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label> <span class="text-danger"
                        *ngIf="formGroup.controls.username.hasError('required')
                  && formGroup.controls.username.dirty">
            Vui lòng nhập tài khoản !</span></label>
          <input type="text" class="form-control" placeholder="Tên đăng nhập"
                 required="required" formControlName="username">
        </div>
        <div class="form-group">
          <label> <span class="text-danger"
                        *ngIf="formGroup.controls.password.hasError('required')
                  && formGroup.controls.password.dirty">
            Vui lòng nhập mật khẩu !</span></label>
          <input type="password" class="form-control" placeholder="Mật khẩu"
                 required="required" formControlName="password">
        </div>
        <div class="or-seperator"><b>or</b></div>
        <p class="hint-text" style="color: black">Đăng nhập bằng tài khoản của bạn</p>
        <div class="form-group social-btn clearfix">
          <a href="#" class="btn btn-primary float-left button-fb"><i
            class="fa fa-facebook"></i> Facebook</a>
          <a href="#" class="btn btn-danger  float-right button-fb"><i
            class="fa fa-google"></i> Google</a>
        </div>

        <input type="submit" class="btn btn-danger btn-block button-design" value="Đăng nhập">
        <div class="text-center mt-2">
          <a href="#">Quên mật khẩu</a>
        </div>
      </form>
    </div>
  </div>
</div>

