<!--your cart-->
<div class="row cart-product-body">
  <div class="cart-product-pay">
    <h2>LỊCH SỬ MUA HÀNG</h2>
    <div>
      <a class="btn btn-danger button-design" routerLink="">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-house-door"
             viewBox="0 0 16 16">
          <path
            d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
        </svg>
        Quay lại trang chủ</a>
    </div>
    <hr style="color: #a50318">
    <h3 class="text-center " style="color: red" colspan="6" *ngIf="!action">Không có lịch sử mua hàng !</h3>
    <table class="table text-center" *ngIf="action">
      <thead class="text-center">
      <tr>
        <th></th>
        <th class="text-left">Tên SP</th>
        <th>Đơn giá</th>
        <th>Số lượng</th>
        <th>Tổng giá</th>
        <th>Ngày mua</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of historyCartList" >
        <td><img src="{{item.image}}"
                 style="width:70%;margin-left:20%;height: 80px;width: 100px"></td>
        <td class="text-left">
          <h4>{{item.name}}</h4>
        </td>
        <td>{{item.price | number}}₫</td>
        <td>
          {{item.quantity}}
        </td>
        <td>{{item.sumPerOne |number}}₫</td>
        <td>{{item.datePayment}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
<div class="row bill-pay-body">
  <div class="col-lg-6">

  </div>
  <div class="col-lg-6">

  </div>
</div>


